.white {
  background-color: white;
  color: black;
}

.black {
  background-color: black;
  color: white;
}

.gray {
  background-color: gray;
  color: black;
}

.red {
  background-color: red;
  color: black;
}

.green {
  background-color: green;
  color: black;
}

.blue {
  background-color: blue;
  color: white;
}

.darkblue {
  background-color: darkblue;
  color: white;
}

.yellow {
  background-color: yellow;
  color: black;
}

.lightgray {
  background-color: lightgray;
  color: black;
}
