* {
  margin: 0;
  padding: 0;
}

.buttons-color {
  background: transparent !important;
  border-color: transparent !important;
  margin: 0 !important;
}

.buttons-color:hover {
  background: lightgray !important;
  color: black !important;
}
